# Pandas

importing the pandas libraray

In [1]:
import pandas as pd
import os

### Datatypes
pandas have two data types: Series and Dataframes
##### series: It is just like a column of a table in one dimenasion form
##### dataframes: it is used to analys the two dimensional data

### Series

In [2]:
# create a series data with list 
a=[1,5,7,8,9]
myvar=pd.Series(a)
print(myvar)

0    1
1    5
2    7
3    8
4    9
dtype: int64

series return the two things , index and values and that index is the labels of the series which help to indetify the position of value 
By default the label returns as index from 0 till length of the series-1

In [3]:
#### labels can be used to access values 
print(myvar[0],myvar[1],myvar[2],myvar[3])

1 5 7 8

### Create lable
we can create our own lable by using index argument

In [4]:
ind=["a","b","c","d","e"]

In [5]:
myvar2=pd.Series(a,index=ind)

In [6]:
print(myvar2)

a    1
b    5
c    7
d    8
e    9
dtype: int64

# creating Series

In [7]:
l=[1,2,3,4,5]
t=('a','b','c','d')
dict={"name": "Peter", "age":34 ,"sex":"male"}

In [8]:
# using list
s1=pd.Series(l, name="series_1")
# using tuple
s2= pd.Series(t)
#using dict
s3=pd.Series(dict)

In [9]:
s1 , s2 , s3

(0    1
 1    2
 2    3
 3    4
 4    5
 Name: series_1, dtype: int64,
 0    a
 1    b
 2    c
 3    d
 dtype: object,
 name    Peter
 age        34
 sex      male
 dtype: object)

### Series attributes

### .size

In [10]:
s2, s3

(0    a
 1    b
 2    c
 3    d
 dtype: object,
 name    Peter
 age        34
 sex      male
 dtype: object)

In [11]:
s2.size    # no of element in series

4

In [12]:
s3.size

3

### .index

In [13]:
s1.index , s3.index , type(s1.index), type(s3.index)

(RangeIndex(start=0, stop=5, step=1),
 Index(['name', 'age', 'sex'], dtype='object'),
 pandas.core.indexes.range.RangeIndex,
 pandas.core.indexes.base.Index)

### .is_unique

In [14]:
num=[1,1,2,3,4,5]
s4=pd.Series(num)
print(s4.is_unique)

False

### .values
returns the value from the series as ndarray

In [15]:
s1.values , type(s1.values)

(array([1, 2, 3, 4, 5]), numpy.ndarray)

### .name
series label or series name

In [16]:
s1.name , s3.name

('series_1', None)

### .dtype
returns the datatype of the series element

In [17]:
s1.dtype , s3.dtype

(dtype('int64'), dtype('O'))

### .shape returns

In [18]:
s1.shape

(5,)

#### Series using read_csv

In [19]:
#with one col

subs=pd.read_csv("./Datasets/subs.csv" , encoding="latin1")

subs=subs.squeeze(True)

In [20]:
# with two coloum
kohli=pd.read_csv("./Datasets/kohli_ipl.csv", encoding="latin1",index_col= "match_no")
kohli=kohli.squeeze(True)

In [21]:
bollywood=pd.read_csv("./Datasets/bollywood.csv", encoding="latin1", index_col= "movie")
bollywood=bollywood.squeeze(True)

## Series methods

### head(): give a glance of data of top 5 row by default , we can also give arugument as integer to specify the number of rows we want

### tail() give the glance of last 5 rows

In [22]:
kohli.head() , kohli.tail()

(match_no
 1     1
 2    23
 3    13
 4    12
 5     1
 Name: runs, dtype: int64,
 match_no
 211     0
 212    20
 213    73
 214    25
 215     7
 Name: runs, dtype: int64)

In [23]:
bollywood.head(10), bollywood.tail(10)

(movie
 Uri: The Surgical Strike                       Vicky Kaushal
 Battalion 609                                    Vicky Ahuja
 The Accidental Prime Minister (film)             Anupam Kher
 Why Cheat India                                Emraan Hashmi
 Evening Shadows                             Mona Ambegaonkar
 Soni (film)                             Geetika Vidya Ohlyan
 Fraud Saiyaan                                   Arshad Warsi
 Bombairiya                                      Radhika Apte
 Manikarnika: The Queen of Jhansi              Kangana Ranaut
 Thackeray (film)                         Nawazuddin Siddiqui
 Name: lead, dtype: object,
 movie
 Raaz (2002 film)                    Dino Morea
 Zameen (2003 film)                  Ajay Devgn
 Waisa Bhi Hota Hai Part II        Arshad Warsi
 Devdas (2002 Hindi film)        Shah Rukh Khan
 Kaante                        Amitabh Bachchan
 Hum Tumhare Hain Sanam          Shah Rukh Khan
 Aankhen (2002 film)           Amitabh Bachchan
 Saathiya (film)                   Vivek Oberoi
 Company (film)                      Ajay Devgn
 Awara Paagal Deewana              Akshay Kumar
 Name: lead, dtype: object)

### sample() : it gives the random single rows by default but we can also provide integer to get given number of rows

In [24]:
bollywood.sample()

movie
Bombay Velvet    Ranbir Kapoor
Name: lead, dtype: object

### value_count()  : it returns the frequency count of the values in desc order

In [25]:
bollywood.value_counts()

lead
Akshay Kumar         48
Amitabh Bachchan     45
Ajay Devgn           38
Salman Khan          31
Sanjay Dutt          26
                     ..
Seema Azmi            1
Akanksha Puri         1
Charanpreet Insan     1
Jaideep Ahlawat       1
Monali Thakur         1
Name: count, Length: 566, dtype: int64

### sort_values-> inplace tamprory change but we can also permanent change

In [26]:
# highest run of kohli 
kohli.sort_values(ascending=False).head(1)

match_no
128    113
Name: runs, dtype: int64

In [27]:
kohli

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

### sort_index()

In [28]:
bollywood.sort_index(inplace=True)

In [29]:
bollywood

movie
1920 (film)                   Rajniesh Duggall
1920: London                     Sharman Joshi
1920: The Evil Returns             Vicky Ahuja
1971 (2007 film)                Manoj Bajpayee
2 States (2014 film)              Arjun Kapoor
                                   ...
Zindagi 50-50                      Veena Malik
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi Tere Naam           Mithun Chakraborty
Zokkomon                       Darsheel Safary
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Name: lead, Length: 1500, dtype: object

## Series maths method

In [30]:
#count() : returns the total number of items and ignore the missing value 
kohli.count()   # number of rows excluding Nan

np.int64(215)

In [31]:
# sum() -> product
subs.sum()
subs.prod()

np.int64(0)

In [32]:
# mean median mode std var
subs.mean()

np.float64(135.64383561643837)

In [33]:
kohli.median()

np.float64(24.0)

In [34]:
bollywood.mode()

0    Akshay Kumar
Name: lead, dtype: object

In [35]:
subs.std()

np.float64(62.6750230372527)

In [36]:
kohli.var()

np.float64(688.0024777222343)

In [37]:
#min max
subs.min() , subs.max()

(np.int64(33), np.int64(396))

In [38]:
#describe return the summary
kohli.describe(), subs.describe()

(count    215.000000
 mean      30.855814
 std       26.229801
 min        0.000000
 25%        9.000000
 50%       24.000000
 75%       48.000000
 max      113.000000
 Name: runs, dtype: float64,
 count    365.000000
 mean     135.643836
 std       62.675023
 min       33.000000
 25%       88.000000
 50%      123.000000
 75%      177.000000
 max      396.000000
 Name: Subscribers gained, dtype: float64)

### Series Indexing

In [40]:
# positive indexing
subs[0]

np.int64(48)

In [49]:
bollywood.iloc[0] , bollywood.loc["Zindagi 50-50"]

('Rajniesh Duggall', 'Veena Malik')