# Pandas

importing the pandas libraray

In [1]:
import pandas as pd
import os

### Datatypes
pandas have two data types: Series and Dataframes
##### series: It is just like a column of a table in one dimenasion form
##### dataframes: it is used to analys the two dimensional data

### Series

In [2]:
# create a series data with list 
a=[1,5,7,8,9]
myvar=pd.Series(a)
print(myvar)

0    1
1    5
2    7
3    8
4    9
dtype: int64

series return the two things , index and values and that index is the labels of the series which help to indetify the position of value 
By default the label returns as index from 0 till length of the series-1

In [3]:
#### labels can be used to access values 
print(myvar[0],myvar[1],myvar[2],myvar[3])

1 5 7 8

### Create lable
we can create our own lable by using index argument

In [4]:
ind=["a","b","c","d","e"]

In [5]:
myvar2=pd.Series(a,index=ind)

In [6]:
print(myvar2)

a    1
b    5
c    7
d    8
e    9
dtype: int64

# creating Series

In [7]:
l=[1,2,3,4,5]
t=('a','b','c','d')
dict={"name": "Peter", "age":34 ,"sex":"male"}

In [8]:
# using list
s1=pd.Series(l, name="series_1")
# using tuple
s2= pd.Series(t)
#using dict
s3=pd.Series(dict)

In [9]:
s1 , s2 , s3

(0    1
 1    2
 2    3
 3    4
 4    5
 Name: series_1, dtype: int64,
 0    a
 1    b
 2    c
 3    d
 dtype: object,
 name    Peter
 age        34
 sex      male
 dtype: object)

### Series attributes

### .size

In [10]:
s2, s3

(0    a
 1    b
 2    c
 3    d
 dtype: object,
 name    Peter
 age        34
 sex      male
 dtype: object)

In [11]:
s2.size    # no of element in series

4

In [12]:
s3.size

3

### .index

In [13]:
s1.index , s3.index , type(s1.index), type(s3.index)

(RangeIndex(start=0, stop=5, step=1),
 Index(['name', 'age', 'sex'], dtype='object'),
 pandas.core.indexes.range.RangeIndex,
 pandas.core.indexes.base.Index)

### .is_unique

In [14]:
num=[1,1,2,3,4,5]
s4=pd.Series(num)
print(s4.is_unique)

False

### .values
returns the value from the series as ndarray

In [15]:
s1.values , type(s1.values)

(array([1, 2, 3, 4, 5]), numpy.ndarray)

### .name
series label or series name

In [16]:
s1.name , s3.name

('series_1', None)

### .dtype
returns the datatype of the series element

In [17]:
s1.dtype , s3.dtype

(dtype('int64'), dtype('O'))

### .shape returns

In [18]:
s1.shape

(5,)

#### Series using read_csv

In [30]:
#with one col

subs=pd.read_csv("./Datasets/subs.csv" , encoding="latin1 ")

subs.squeeze(True)

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [37]:
# with two coloum
kohli=pd.read_csv("./Datasets/kohli_ipl.csv", encoding="latin1 ",index_col= "match_no")
kohli.squeeze(True)

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [38]:
pd.read_csv("./Datasets/bollywood.csv", encoding="latin1 ", index_col= "movie)

                                     movie              lead
0                 Uri: The Surgical Strike     Vicky Kaushal
1                            Battalion 609       Vicky Ahuja
2     The Accidental Prime Minister (film)       Anupam Kher
3                          Why Cheat India     Emraan Hashmi
4                          Evening Shadows  Mona Ambegaonkar
...                                    ...               ...
1495                Hum Tumhare Hain Sanam    Shah Rukh Khan
1496                   Aankhen (2002 film)  Amitabh Bachchan
1497                       Saathiya (film)      Vivek Oberoi
1498                        Company (film)        Ajay Devgn
1499                  Awara Paagal Deewana      Akshay Kumar

[1500 rows x 2 columns]