# DataFrames

DataFrames in python are the multidimensional tables

In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame([[1,2,3],[4,5,6]] )

In [3]:
print(df)

   0  1  2
0  1  2  3
1  4  5  6

In [4]:
# just like series we can also give our own labels to dataframe

df1=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns=['c1','c2','c3'],  index=['r1','r2','r3'])

In [5]:
print(df1)

    c1  c2  c3
r1   1   2   3
r2   4   5   6
r3   7   8   9

### creating datafarames using dictionary

In [16]:
dix= {"Name":["Peter","Meg", "Thorfinn"],
    "Age":[23,44,32]}

In [17]:
df2= pd.DataFrame(dix)
print(df2)

       Name  Age
0     Peter   23
1       Meg   44
2  Thorfinn   32

#### Using csv , xlxs,and json

In [22]:
df3= pd.read_csv("./Datasets/sales_data_sample.csv" , encoding="latin1 )

SyntaxError: unterminated string literal (detected at line 1) (3935856405.py, line 1)

### Accessing the rows

##### loc
loc is a attribute to return one and more specified value

In [6]:
print(df1.loc["r1"])   #  accessing first row

c1    1
c2    2
c3    3
Name: r1, dtype: int64

In [10]:
# accessing multiple row 
print(df1.loc[["r1","r3"]])

    c1  c2  c3
r1   1   2   3
r3   7   8   9