# DataFrames

DataFrames in python are the multidimensional tables

In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame([[1,2,3],[4,5,6]] )

In [3]:
print(df)

   0  1  2
0  1  2  3
1  4  5  6

In [4]:
# just like series we can also give our own labels to dataframe

df1=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns=['c1','c2','c3'],  index=['r1','r2','r3'])

In [5]:
print(df1)

    c1  c2  c3
r1   1   2   3
r2   4   5   6
r3   7   8   9

### creating datafarames using dictionary

In [6]:
dix= {"Name":["Peter","Meg", "Thorfinn"],
    "Age":[23,44,32]}

In [7]:
df2= pd.DataFrame(dix)
print(df2)

       Name  Age
0     Peter   23
1       Meg   44
2  Thorfinn   32

#### Using csv , xlxs,and json

In [8]:
df3= pd.read_csv("./Datasets/sales_data_sample.csv" , encoding="latin1 ")

In [9]:
df3

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,12/2/2004 0:00,Shipped,4,12,2004,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small
2819,10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,...,Torikatu 38,NaN,Oulu,NaN,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
2820,10386,43,100.00,4,5417.57,3/1/2005 0:00,Resolved,1,3,2005,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium
2821,10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,...,1 rue Alsace-Lorraine,NaN,Toulouse,NaN,31000,France,EMEA,Roulet,Annette,Small
2822,10414,47,65.52,9,3079.44,5/6/2005 0:00,On Hold,2,5,2005,...,8616 Spinnaker Dr.,NaN,Boston,MA,51003,USA,NaN,Yoshido,Juri,Medium

### Accessing the rows

##### loc
loc is a attribute to return one and more specified value

In [10]:
print(df1.loc["r1"])   #  accessing first row

c1    1
c2    2
c3    3
Name: r1, dtype: int64

In [11]:
# accessing multiple row 
print(df1.loc[["r1","r3"]])

    c1  c2  c3
r1   1   2   3
r3   7   8   9