# Pandas

importing the pandas libraray

In [1]:
import pandas as pd
import os

### Datatypes
pandas have two data types: Series and Dataframes
##### series: It is just like a column of a table in one dimenasion form
##### dataframes: it is used to analys the two dimensional data

### Series

In [2]:
# create a series data with list 
a=[1,5,7,8,9]
myvar=pd.Series(a)
print(myvar)

0    1
1    5
2    7
3    8
4    9
dtype: int64

series return the two things , index and values and that index is the labels of the series which help to indetify the position of value 
By default the label returns as index from 0 till length of the series-1

In [3]:
#### labels can be used to access values 
print(myvar[0],myvar[1],myvar[2],myvar[3])

1 5 7 8

### Create lable
we can create our own lable by using index argument

In [4]:
ind=["a","b","c","d","e"]

In [5]:
myvar2=pd.Series(a,index=ind)

In [6]:
print(myvar2)

a    1
b    5
c    7
d    8
e    9
dtype: int64

# creating Series

In [7]:
l=[1,2,3,4,5]
t=('a','b','c','d')
dict={"name": "Peter", "age":34}

In [8]:
# using list
s1=pd.Series(l)
# using tuple
s2= pd.Series(t)
#using dict
s3=pd.Series(dict)

In [12]:
s1 , s2 , s3

(0    1
 1    2
 2    3
 3    4
 4    5
 dtype: int64,
 0    a
 1    b
 2    c
 3    d
 dtype: object,
 name    Peter
 age        34
 dtype: object)